In [1]:
#Importing the important libraries: pandas and NumPy
import numpy as np 
import pandas as pd

In [2]:
#Reading the data file
df = pd.read_csv('car_evaluation.csv')


# Assign names to Columns to get rid off the categorical values
df.columns = ['buying','maint','doors','persons','lug_boot','safety','classes']

# Encode Data
df.buying.replace(('vhigh','high','med','low'),(1,2,3,4), inplace=True)
df.maint.replace(('vhigh','high','med','low'),(1,2,3,4), inplace=True)
df.doors.replace(('2','3','4','5more'),(1,2,3,4), inplace=True)
df.persons.replace(('2','4','more'),(1,2,3), inplace=True)
df.lug_boot.replace(('small','med','big'),(1,2,3), inplace=True)
df.safety.replace(('low','med','high'),(1,2,3), inplace=True)
df.classes.replace(('unacc','acc','good','vgood'),(1,2,3,4), inplace=True)
print("df.head: ", df.head())

df.head:     buying  maint  doors  persons  lug_boot  safety  classes
0       1      1      1        1         1       2        1
1       1      1      1        1         1       3        1
2       1      1      1        1         2       1        1
3       1      1      1        1         2       2        1
4       1      1      1        1         2       3        1

In [3]:
#showing the specs, and replacing the rows and columns
df.describe().transpose()

           count      mean       std  min  25%  50%  75%  max
buying    1727.0  2.500869  1.118098  1.0  2.0  3.0  3.5  4.0
maint     1727.0  2.500869  1.118098  1.0  2.0  3.0  3.5  4.0
doors     1727.0  2.500869  1.118098  1.0  2.0  3.0  3.5  4.0
persons   1727.0  2.000579  0.816615  1.0  1.0  2.0  3.0  3.0
lug_boot  1727.0  2.000579  0.816615  1.0  1.0  2.0  3.0  3.0
safety    1727.0  2.000579  0.816615  1.0  1.0  2.0  3.0  3.0
classes   1727.0  1.415171  0.740847  1.0  1.0  1.0  2.0  4.0

In [4]:
atts = df.drop('classes', axis = 1) # all of df
target = df['classes'] # the classes only

In [5]:
#splitting to training and test sets
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(atts, target, test_size = 0.3)
Xtrain.head(10)

      buying  maint  doors  persons  lug_boot  safety
192        1      2      4        1         2       2
333        1      4      1        2         1       2
1420       4      2      1        2         3       3
1259       3      4      3        3         1       1
1407       4      2      1        1         2       2
681        2      3      2        1         3       2
1055       3      2      4        1         2       1
582        2      2      2        2         3       2
1591       4      3      3        3         3       3
1663       4      4      2        2         3       3

In [6]:
ytrain.head(10)

192     1
333     1
1420    4
1259    1
1407    1
681     1
1055    1
582     2
1591    4
1663    4
Name: classes, dtype: int64

In [8]:
#importing the Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier as dt
dt_model = dt(random_state=1)
dt_model.fit(Xtrain, ytrain)

DecisionTreeClassifier(random_state=1)

In [9]:
# testing DecisionTreeClassifier using Xtest and ytest
ypredict = dt_model.predict(Xtest)
ypredict

array([1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 3, 4, 1, 1, 1, 2, 1,
       3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 4, 1, 2, 1, 1, 1, 2,
       2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 4, 2, 2, 1, 2, 3, 1, 4, 1, 1, 1, 1,
       2, 4, 3, 1, 4, 1, 2, 2, 1, 4, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1,
       1, 2, 2, 2, 1, 1, 4, 4, 1, 1, 2, 1, 3, 1, 1, 1, 1, 1, 4, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2,
       1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1,
       2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 2,
       1, 1, 4, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 3, 2, 2, 1, 2, 1,
       1, 2, 1, 2, 3, 1, 2, 1, 1, 3, 1, 1, 1, 1, 2, 2, 3, 1, 2, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 4, 1, 1, 1, 2, 2, 1, 1, 2,
       1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 3,
       1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 1,
       3, 1, 1, 2, 1, 4, 1, 1, 1, 1, 1, 2, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1,
       1, 4, 1, 2, 1, 3, 1, 1, 2, 1, 1, 1, 2, 4, 2, 1, 1, 1, 3, 1, 1, 2,
       1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 4, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1,
       2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 2, 4, 1, 1, 1, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1,
       2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 3, 2, 2, 2, 2, 1, 1, 1, 2, 2,
       1, 2, 1, 2, 1, 1, 2, 2, 2, 1, 2, 4, 1], dtype=int64)

In [10]:
#Classification model evaluation

from sklearn import metrics

#Confusion matrix

cm = metrics.confusion_matrix(ytest, ypredict)
cm

array([[344,   5,   2,   0],
       [  6, 119,   0,   0],
       [  1,   3,  20,   0],
       [  0,   0,   0,  19]], dtype=int64)

In [11]:
#accuracy
acc = metrics.accuracy_score(ytest, ypredict)
acc

0.9672447013487476

In [12]:
#presicion metric

pre = metrics.precision_score(ytest, ypredict, pos_label='positive' ,average='micro')
pre

C:\Users\hp\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1267: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn("Note that pos_label (set to %r) is ignored when "

0.9672447013487476

In [13]:
#recall

recall = metrics.recall_score(ytest, ypredict, pos_label='positive' ,average='micro')
recall

0.9672447013487476

In [14]:
#F1 metric

f1 = metrics.f1_score(ytest, ypredict, pos_label='positive' ,average='micro')
f1

0.9672447013487476

In [15]:
#classification report: all of the evaluation results crammed into one report

cls_rep = metrics.classification_report(ytest, ypredict)
cls_rep

'              precision    recall  f1-score   support\n\n           1       0.98      0.98      0.98       351\n           2       0.94      0.95      0.94       125\n           3       0.91      0.83      0.87        24\n           4       1.00      1.00      1.00        19\n\n    accuracy                           0.97       519\n   macro avg       0.96      0.94      0.95       519\nweighted avg       0.97      0.97      0.97       519\n'